.contenedor {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gray border;
    border: 1px solid;
    margin: 0px auto;
    padding: 1em;
}

.navbar ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: chartreuse;
    padding: 10px;
}

.navbar li :hover {
    background-color: brown;
}